{% extends "flights/layout.html" %}

{% block body %}
    <h1>Flight {{ flight.id }}</h1>
    <ul>
        <li>Origin: {{ flight.origin }}</li>
        <li>Destination: {{ flight.destination }}</li>
        <li>Duration: {{ flight.duration }}</li>
    </ul>

    <h2>Passengers</h2>

    <ul>
        {% for passenger in passengers %}
            <li> {{ passenger }} </li>
        {% empty %}
            <li> No passengers </li>
        {% endfor %}
    </ul>

    <h2>Add Passenger</h2>

    <form action="{% url 'book' fight.id %}" method="post">
        {% csrf_token %}
        <select name="passenger">
            {% for passenger in non_passengers %}
                <option>value="{ passengers.id }>{{ passenger }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>

    <a href="{% url 'index' %}">Back to Flight list</a>
    
{% endblock %}